.tai-khoan-ung-vien-wp {
    padding: 10px 10px 10px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    color: #fff;
    padding: 10px 6px;
    font-weight: 600;
    gap: 16px;

    div {
        // text-align: center;
    }

    .item-header {
        width: 18%;

        &:nth-child(1) {
            width: 5%;
        }

        &:last-child {
            width: 5%;
        }
    }
}

.body {
    padding: 0;
    margin: 0;
    padding: 10px 6px;

    .body-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        gap: 16px;
    }

    div {
        // text-align: center;
    }

    .item-body {
        width: 18%;

        span {
            width: 100%;
            overflow-wrap: break-word;
        }

        &:nth-child(1) {
            width: 5%;
        }

        &:last-child {
            width: 5%;
        }
    }
}
