.wp-confirm {
    position        : fixed;
    width           : 100vw;
    height          : 100vh;
    z-index         : 999;
    background-color: rgba(0, 0, 0, 0.08);
    backdrop-filter : blur(7px);
    top             : 0;
    right           : 0;
    bottom          : 0;
    left            : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.title-wp {
    display        : flex;
    justify-content: center;
    align-items    : center;

    h3 {
        padding: 0;
        margin : 0;
    }
}

.body-create-admin-account {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 40px 0;

    .wp-label {
        margin-bottom: 14px;
        position     : relative;

        i {
            position: absolute;
            right   : 20px;
            top     : 54%;
            cursor  : pointer;
        }
    }

    label {
        padding-bottom: 6px;
    }

    input {
        min-height: 40px;
    }

    .wp-btn {
        display        : flex;
        justify-content: flex-end;
        align-items    : center;
        margin-top     : 24px;
        gap            : 16px;
    }

    .content {
        width: 50%;
    }
}